{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container-fluid">
    <h1>Configure visualisation</h1>

    <div class='float-lg-right'>
        <audio controls>
            <source src="{{ linkOgg }} " type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <h2>Select speaker's gender</h2>


    <form method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-8">
                <div class="custom-controls-stacked">
                    <div class="custom-control custom-radio">
                        <input name="targetRange" id="radio_0" type="radio" class="custom-control-input"
                               value="option1">
                        <label for="radio_0" class="custom-control-label">Male voice range (89-175 Hz)</label>
                    </div>
                </div>
                <div class="custom-controls-stacked">
                    <div class="custom-control custom-radio">
                        <input name="targetRange" id="radio_1" type="radio" class="custom-control-input"
                               value="option2">
                        <label for="radio_1" class="custom-control-label">Neutral voice range (145-175 Hz)</label>
                    </div>
                </div>
                <div class="custom-controls-stacked">
                    <div class="custom-control custom-radio">
                        <input name="targetRange" id="radio_2" type="radio" class="custom-control-input"
                               value="option3">
                        <label for="radio_2" class="custom-control-label">Female voice range (164-260 Hz)</label>
                    </div>
                </div>
                <div class="custom-controls-stacked">
                    <div class="custom-control custom-radio">
                        <input name="targetRange" id="radio_3" type="radio" class="custom-control-input"
                               value="option4">
                        <label for="radio_3" class="custom-control-label">Manual:</label>
                        <div class="col">
                            <input type="number" class="form-control" name="manual_low" placeholder="From (Hz)">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="manual_high" placeholder="To (Hz)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-9 col-8">
                <button type="submit" name="back" class="btn btn-danger">Back</button>
                <button type="submit" name="start" class="btn btn-success">Start analyzing</button>
            </div>
        </div>
    </form>

    <div class="blockquote-footer">
        <dl>
            <dt>
                What should I select here?
            </dt>
            <dd>
                SWANS needs to know which mode pitch range it should consider as "good". You can choose
                from a male, neutral and female range or manually set your target pitch
                range.
            </dd>
            <dt>
                Why using the mode pitch?
            </dt>
            <dd>
                SWANS calculates the mode pitch, meaning the actual most used frequency. Mean or median
                pitch
                would give a good traditional average but not the frequency that the speaker really did
                use
                in your
                recording.
            </dd>
            <dt>
                Where do the default values come from?
            </dt>
            <dd>
                The values for male and female pitch range are based on Brockmann-Bauser, M., & Bohlender, J. E. (2014).
                The pitch range of the "natural voice" is based on new findings in order to create a
                genderless
                voice published by Nis Nørgaard and his team.
                You can easily use your own pitch range as target by giving SWANS your own values.
                <p>
                    Sources:
                Praktische Stimmdiagnostik: Theoretischer und praktischer Leitfaden; [+online-Extras].
                Thieme.
                How to create a genderless voice | Nis
                Nørgaard |
                TEDxUniversityofNicosia. (n.d.). Retrieved October 01, 2020, from
                https://www.youtube.com/watch?v=qH6KB7MrOPw
                </p>
            </dd>
        </dl>
    </div>
{% endblock %}


