{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'logo.png' %}" class="img-fluid" alt="Responsive image"/>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-right">
                            Spoken Word Analyser SWANS
                        </h1>
                        <p>
                            SWANS is designed to be used in speech training to give trainees a better understanding of
                            their voice and expression. It closes the gap between understanding speech and scientific
                            results. The base for all the calculations made is PRAAT – an established tool for voice
                            analysis.
                            Recordings of a short text (e.g. "The North Wind and the Sun") have to be done in as quiet a
                            room as possible and with a fixed mouth-microphone
                            distance of approx. 30cm (12 inches). Any software can be used to do the recording.
                        </p>
                        <a href="/swans">
                            <button type="button" class="btn btn-lg btn-success btn-block">
                                Start analyzing
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}