{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class='float-lg-right'>
        <audio controls>
            <source src="{{ linkOgg }} " type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <div class="container-fluid">
        <h1>Results</h1>

        <div class="row">
            <div class="col-md-12">
                <h2>
                    Mode Pitch (Hz)
                </h2><img class="float-left" alt="Mode pitch" src="{{ pitch }}" width="500"/>
            </div>
            <div class="col-md-12">
                <h2>
                    Intensity (dB)
                </h2><img alt="Intensity" src="{{ intensity }}" width="500"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="details_div" style="display:none;">
                <h3>
                    Detailed results
                </h3><img alt="Detailed results" src="{{ table }}"/>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <div>
        <form method="get">
            {% csrf_token %}
            <button type="submit" name="back" class="btn btn-danger">Back</button>
            <button type="submit" name="export" class="btn btn-success">Export</button>
        </form>
        <button id="hideshow" class="btn btn-warning">Detailed results</button>

    </div>

    <script type="text/javascript">
        let button = document.getElementById('hideshow');

        button.onclick = function () {
            let div = document.getElementById('details_div');
            if (div.style.display !== 'none') {
                div.style.display = 'none';
            } else {
                div.style.display = 'block';
            }
        };
    </script>
{% endblock %}

