{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h2>Upload</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <input type="file" name="document">
            <button type="submit" class="btn btn-success">Upload</button>
            <p class="help-block">
                Select your recording for SWANS to analyze.
            </p>
        </div>
    </form>

    <div class="blockquote-footer">
        <dl>
            <dt>
                What to upload?
            </dt>
            <dd>
                For SWANS to work properly, it needs an audio file with the best quality possible. Please select your
                recording using the button above and press the upload button.
            </dd>
            <dt>
                Which file format?
            </dt>
            <dd>
                SWANS can work with a plethora of audio formats, but wav files work best.
            </dd>
            <dt>
                Any audio specifications?
            </dt>
            <dd>
                For the best analysis result, the audio file should be mono with a sample rate of more than
                22050Hz – even though SWANS can analyze files with a lower sample rate. If you're using a lossy format
                (mp3 for example), try using a reasonable bit rate of at least 128k.
            </dd>
        </dl>
    </div>
{% endblock %}