{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <h1 class="text-center">One moment, please</h1>

    <div class="d-flex justify-content-center">
        <img src="{% static 'upload/waiting.gif' %}" alt="Calculating, please wait" width=400 height=225/>

    </div>
    <h2 class="text-center">{{ reason }}</h2>

    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 5000);
    </script>


{% endblock %}